.custom-service-style{
    position: relative;
}.service-logo{
    position: absolute;
   top: 0;
    right: 5px;
  display: flex;
  justify-content: center;

   
}
.service-logo img{

  width: 70px;
   height: 70px;
    border-radius:50%;

   
}