.plan-logo-custom{
    position: relative;

}
.plan-logo{
    position: absolute;

    left: 160px;
    top: 110px;

 

   
}
.plan-logo i{

  width: 60px;
   height: 60px;
    border-radius:50%;
    background-color: white;
font-size: 38px;
display: flex;
justify-content: center;
align-items: center;

   
}
.plan-book-button{
    background-color: #081839 !important;
    border: #081839;
}
/* Make it responsive */
@media only screen and (max-width:688px) {
    .plan-logo{
  
        left: 130px;
        top: 100px;
 
     
    
       
    }
}
