.footer-custom-color{
    background-color: #081839;
}

.social-icon i:hover{
    color: #31D2F2;
    transform: scale(1.1);

}
/* .footer-link-customize a{
    text-decoration: none;
    margin: 0 10px;
    color: white;

    

} */


